<div class="ND_overlay"></div>
<div class="ND_lightbox">
    <div class="top"><a href="#" id="ND_lightbox_Close"><i class="glyphicon glyphicon-remove"></i></a></div>
    <div class="content">{{{content}}}</div>
</div>
